

<!-- app.component.html -->
<body style="background-color: lightyellow;">
<h1 style="text-align: center; color:green;">This is my task web page</h1>
<ul style="list-style: none; padding: 0; text-align: center;">
    <li style="display: inline-block;"><a routerLink="postdata">Posting Data</a></li>
    <div></div>
    <li style="display: inline-block;"><a routerLink="getdata">getdata</a></li>
    <div></div>
    <li style="display: inline-block;"><a routerLink="reversdata">reversdata</a></li>
    <div></div>
    <li style="display: inline-block;"><a routerLink="sortdata">sortdata</a></li>
    <div></div>
    <li style="display: inline-block;"><a routerLink="branddata">branddata</a></li>
    <div></div>
    <li style="display: inline-block;"><a routerLink="duplicatedata">duplicatedata</a></li>
    <div></div>
    <li style="display: inline-block;"><a routerLink = "addcolumn"> addcolumn</a></li>

    

  </ul>
  <router-outlet></router-outlet>
  
  
</body>
